@page "/articole/{alias}"
@model RoughCut.Web.Pages.ArticleModel
@{
    ViewData[ViewDataKey.Title] = Model.Title;
}

<section class="hero is-primary pt-4">
    <div class="hero-body">
        <div class="columns is-centered">
            <div class="column is-three-fifths-desktop">
                <div class="content has-text-centered">
                    <p class="title">@Model.Title</p>
                    <p class="subtitle">De @Model.Author.Title, în <date on="Model.CreatedDate"></date></p>
                    <figure class="image">
                        <img src="@Model.ImageUrl" />
                    </figure>
                    @if (Model.Categories.Any())
                    {
                        <p class="subtitle is-uppercase">
                            @for (int i = 0; i < Model.Categories.Count - 1; i++)
                            {
                                <a asp-page="/Category" asp-route-alias="@Model.Categories[i].Alias" class="is-underlined">@Model.Categories[i].Name</a> <span>/</span>
                            }
                            <a asp-page="/Category" asp-route-alias="@Model.Categories[Model.Categories.Count -1].Alias" class="is-underlined">@Model.Categories[Model.Categories.Count - 1].Name</a>
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns is-centered">
        <div class="column is-three-fifths-desktop">
            <div class="content has-text-justified is-size-5">
                @Html.Raw(Model.Body)
            </div>
        </div>
    </div>
</section>
