@page "/autori/{authorId}"
@model RoughCut.Web.Pages.AuthorModel
@{
    ViewData[ViewDataKey.Title] = "Author";
}

<section class="hero is-primary pt-4">
    <div class="hero-body">
        <div class="columns is-centered">
            <div class="column is-three-fifths-desktop">
                <div class="content has-text-centered">
                    <div class="columns is-vcentered">
                        <div class="column">
                            <figure class="image">
                                <img src="@Model.ImageUrl">
                            </figure>
                        </div>
                        <div class="column has-text-left">
                            <h1 class="title">@Model.Name</h1>
                        </div>
                    </div>
                    <div class="subtitle">@Html.Raw(Model.Description)</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section has-background-light">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-four-fifths-desktop">
                @foreach (Article article in Model.Articles)
                {
                    <div class="card mb-4">
                        <div class="card-content">
                            <div class="columns is-vcentered">
                                <div class="column is-one-third">
                                    <figure class="image">
                                        <a asp-page="/Article">
                                            <img src="@article.ImageUrl" alt="@article.Title" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="column">
                                    <p class="title">
                                        <a asp-page="/Article">
                                            @article.Title
                                        </a>
                                    </p>
                                    <p class="subtitle">@article.Description</p>
                                    <p>În <date on="article.PublishedDate"></date></p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
