@page "/"
@model IndexModel
@{
    ViewData[ViewDataKey.Title] = "Acasă";
}

@if (Model.LatestArticle is not null)
{
    <section class="hero is-primary pt-4">
        <div class="hero-body">
            <div class="columns is-centered">
                <div class="column is-three-fifths-desktop">
                    <div class="content has-text-centered">
                        <figure class="image">
                            <a asp-page="/Article" asp-route-alias="@Model.LatestArticle.Alias">
                                <img src="@Model.LatestArticle.ImageUrl" alt="@Model.LatestArticle.Title" />
                            </a>
                        </figure>
                        <p class="title">
                            <a asp-page="/Article" asp-route-alias="@Model.LatestArticle.Alias">
                                @Model.LatestArticle.Title
                            </a>
                        </p>
                        <p class="subtitle">@Model.LatestArticle.Description</p>
                        <p>De <a class="is-underlined" asp-page="/Author" asp-route-authorId="@Model.LatestArticle.Author.Alias">@Model.LatestArticle.Author.Title</a>, în <date on="Model.LatestArticle.PublishedDate"></date></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<section class="section has-background-light">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-four-fifths-desktop">
                @foreach (Article article in Model.Articles[1..])
                {
                    <div class="card mb-4">
                        <div class="card-content">
                            <div class="columns is-vcentered">
                                <div class="column is-one-third">
                                    <figure class="image">
                                        <a asp-page="/Article" asp-route-alias="@article.Alias">
                                        <img src="@article.ImageUrl" alt="@article.Title" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="column">
                                    <p class="title">
                                        <a asp-page="/Article" asp-route-alias="@article.Alias">
                                        @article.Title
                                        </a>
                                        </p>
                                    <p class="subtitle">@article.Description</p>
                                    <p>De <a class="is-underlined" asp-page="/Author" asp-route-authorId="@article.Author.Alias">@article.Author.Title</a>, în <date on="article.PublishedDate"></date></p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
